.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  cursor: pointer;
  opacity: 0.6;
}

.icon:hover {
  opacity: 1;
}
